{
  "root": true,
  "parser": "@babel/eslint-parser",
  "ignorePatterns": ["**/*.md"],

  // "parserOptions": { "sourceType": "module" },
  // "ecmaVersion": 7,
  // "sourceType": "module",
  "extends": [
    "plugin:@docusaurus/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "@docusaurus/no-untranslated-text": [
      "warn",
      {
        "ignoredStrings": [
          "·",
          "—",
          "×"
        ]
      }
    ]
  }
}